@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  /* padding: 90px 20px 0; */
  font-family: 'Poppins', sans-serif;
}
.header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(15px);
  background-color: rgba(241, 241, 241, 0.795);
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
}

.nav-link {
  color: rgb(15, 111, 239);
  text-decoration: none;
}

.logo {
  height: 80px;
  align-items: center;
  display: flex;
}


.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 15px;
  margin: 0 5px;
  line-height: 80px;
  width: max-content;

}



.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  
}







/* TOGGLE */
.nav-toggle {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}








.hero{
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(/img/Edificio.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container{
  max-width: 1024px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hh1{
  letter-spacing: 1px;
  font-size: 25px;
  line-height: 60px;
}

.impo{
  color: rgb(15, 111, 239);
}

.hp{
  line-height: 30px;
  width: 600px;
  margin-top: 12px;
  font-size: 18px;
  color: #5f6c7b;
}

.es-bt{
  margin-top: 12px;
}

.btn-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(15, 111, 239);
  overflow: hidden;
  border: none;
  cursor: pointer;
 }

 .btn-hero:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #031e31;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }

 .btn-hero:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }

 .btn-hero span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }

 .btn-hero:hover span {
  color: #fff;
  animation: scaleUp 0.3s ease-in-out;
 }

 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }

  50% {
   transform: scale(0.95);
  }

  100% {
   transform: scale(1);
  }
 }
/*///////////////////////////////////////////////////*/
/*///////////////////////FIN HERO////////////////////*/
/*///////////////////////////////////////////////////*/
.sec-cards{
  margin-top: 50px;
}

.cards-container{
  max-width: 1024px;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: space-between;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
  width: 90%;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/*/////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/

.soluciones{
  margin-top: 50px;
}

.th1{
  margin: 25px auto 25px auto;
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 15px;
  color: rgb(15, 111, 239);

}

.solu-container{
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.crdsolu{
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  border-radius: 15px;
}

.crd-img{
  width: 100%;
  height: 50%;
}

.crd-img img{
  width: 100%;
  height: 100%;
  border-radius: 15px;

}

.crd-txt{
  flex-grow: 50%;
  width: 90%;
  text-align: center;
  margin: auto;
  color: #5f6c7b;

}

.ch1{
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(15, 111, 239);
}

/*/////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/

.slider-section {
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Ajusta la altura según tus necesidades (porcentaje de la ventana visible) */
  overflow: hidden;
  background-color: #f0f0f0; /* Color de fondo de la sección */
}

.slider-container {
  display: flex;
  width: 200%; /* 100% * número de slides */
  height: 100%; /* La altura de la sección se ajusta al 100% */
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 1;
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Estilos adicionales para mejorar la apariencia */
.slide {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Opcional: Agrega estilos de navegación */


.navigation button:hover {
  background-color: #2980b9;
}

/*///////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/

.hpf1{
  text-align: center;
  color: rgb(15, 111, 239);

}

.acordeon{
  margin-top: 50px;
}

.acordeon-container{
  max-width: 1024px;
  margin: auto;
}


.accordion {
  width: 100%;
  margin: 50px auto;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

.accordion-title {
  cursor: pointer;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  text-align: left;
  position: relative;
}

.accordion-title::after {
  content: '\002B'; /* Código Unicode para el signo de más (+) */
  position: absolute;
  right: 10px;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #fff;
}

.accordion-item.open .accordion-title::after {
  content: '\2212'; /* Código Unicode para el signo de menos (-) */
}


/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/


/*Aquí debajo va el FOOTER*/

footer{
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
  background-color: rgb(233, 233, 233);
  
}

.container__footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
  margin-top: 50px;
}

.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img{
  width: 180px;
}

.box__footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2{
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a{
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover{
  opacity: 0.8;
}

.box__footer a .fab{
  font-size: 20px;
}

.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p{
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr{
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}




/*////////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*///////////////////////////////////////////////*/

/* MOBILE */
@media (max-width: 768px) {

  .body-no-scroll {
    overflow: hidden;
}

  body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
    backdrop-filter: none;
  }

  .logo {
    height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    
    overflow-y: hidden;

    left: 100%;
    transition: left 0.3s;
    z-index: 999;
  }


  .nav-link {
    color: rgb(255, 255, 255);
  }
  
  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }


  .hero{
    height: 50vh;
    width: 100%;
  }

  .hero-container{
    width: calc(100% - 40px);
    margin: auto;
  }

  .hh1{
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-bottom: 58px;

  }

  .hp{
    display: none;
  }

  .es-bt{
    display: none;
  }

  .cards-container{
    width: calc(100% - 40px);
    margin: auto;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards .card {
   margin-top: 25px;
  }

  .soluciones{
    width: calc(100% - 40px);
    margin-left: 40px;
    text-align: center;

  }


  .slider-section {
    height: 30vh;
    margin-top: 70px;
  }
  

}

.cls-active{
  background-color: #c9c5c5;
}
.a-cls-active{
  color: #1a3a74 !important;
}